/* App.css */
.App {
    margin-top: 60px;
    padding: 20px;
    width: 100%;
  }
  
  .content {
    text-align: center;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;  /* Odstęp między kartami */
    max-width: 100%;  /* Upewnia się, że kontener nie będzie szerszy niż 100% */
    width: 100%;
  }
  
  .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .matchcard-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;  /* Odstęp między kartami */
    max-width: 100%;  /* Upewnia się, że kontener nie będzie szerszy niż 100% */
    width: 100%;  
}

  
  @media (max-width: 1200px) {
    .match-card {
      flex: 1 1 calc(45% - 20px);  /* Karty mają 45% szerokości na mniejszych ekranach */
    }
  }
  
  @media (max-width: 768px) {
    .match-card {
      flex: 1 1 100%;  /* Na bardzo małych ekranach karty zajmują całą szerokość */
    }
  }