.notfound-icon {
    display: block;
    width: 32px;
    height: 32px;
}

.nf-wrapper {
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
